/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  /*background-color: #64bb4a;*/

}

.zebra {
  background-color: #fff;

  /*border-top: solid #b2d2ee 11px;*/

}

.header h1 {
  padding-top: 70px;
  font-size: 70px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;

}

p {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;

  padding: 0 20px;
}

.header img{
  max-width: 700px;
  padding: 70px 0;
  margin: auto;
  display: block;
}

.header {
  text-align: center;
  margin: 10px 0;
}

h2 {
  font-size: 45px;
  font-family: 'Libre Franklin', sans-serif;
  padding: 50px 0 0 0;
}

h2 span{

  border-bottom: 3px solid #64bb4a;
  
}

.tt{padding: 10px;
  margin-bottom: 30px;
color: #222;
}

.tt img {
  max-height: 400px;

}

.ttt {
  border-right: 1px #fff solid;

}

.ttt img {
  margin: auto;
  display: block;
}

.ttt p {
  max-width: 700px;
  text-align: center;
display: block;
margin: 0 auto;
}


#carouselExampleIndicators {
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
}
footer {
  background-color: #ccc;
}
